/* screen sizes 500px and up */
* {
    margin: auto 0;
    padding: 0;

}
body, html {
    /*!*height: 100%;*!*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*margin: 0 0.35em 0 .15em;*/
    font-family: Arial, Ubuntu, sans-serif;
    /*display: flex;*/
    /*flex-direction: column; align-items: stretch;*/
}
@media screen and (min-width:260px) and (max-width:499px)  {
    .nav-links{
        padding: 0;

    }

   .nav-links li {

     display: flex;
    /* !*display: block;*!*/
    /* !*width: 100%;*!*/
    /* !*margin: 12px 0px ;*!*/
     list-style: none;
     padding: 1em;
     border: 0.005em solid #DDDDDD;
     /*margin: auto;*/
     justify-content: center;
    background-color:  #CCCCCC;
       margin: 1em .25em;
     /*margin: .5rem 0 0 0;*/
     /* width: 100%;*/
    /* !*width: auto%;*!*/
    /* flex: 0 1 auto;*/
    /*!*!*flex-direction: column;align-items: stretc*/
    /*   flex-direction: column; align-items: stretch;*/



}
    .alert-info {
        display: flex;
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 12px 0px ;*/
        list-style: none;
        padding: 1em;
        border: 0.005em solid #CCCCCC;
        margin: .15em .25em .15em .25em;
        justify-content: center;
        background-color:  #CCFFFF;


    }

    h1{
        display: flex;
        /*width: 100%;*/
        font-size: 36px;
        /*position: relative;*/
        justify-content: center;
        /*align-items: center;*/
        /*flex-direction: column;*/
        /*margin: 10px auto;*/
        /*padding: 1.5em;*/
        margin: 0 .25em .75em .25em;
    }


    .header-img{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;

        margin: 1em .25em;
        /*width: auto;*/
        /*flex-grow: 3;*/

        /*display: flex;*/
        /*!*position: relative;*!*/
        /*justify-content: center;*/
        /*align-items: stretch;*/
        /*flex-direction: column;*/
        /*margin: 0 .25em ;*/
        /*!*display: block;*!*/
        /*!*height: 1px;*!*/
        /*!*width: 2px;*!*/
        /*flex-grow: 3;*/
        /*width: 100%;*/

    }
    .main{
        /*display: flex;*/
        display: block;
        /*width: 100%;*/
        /*margin: 12px 0px ;*/
        list-style: none;
        margin: 1em .25em;

    }
    .sub-section{
        /*display: flex;*/
        display: block;
        /*width: 100%;*/
        /*margin: 12px 0px ;*/
        list-style: none;
        margin: 1em .25em;

    }
    #social-media-links {
        display: flex;
        justify-content: flex-end;

    /*<i class="fa-brands fa-instagram"></i>*/
    /*<i class="fa-brands fa-facebook-f"></i>*/
    /*<i class="fa-brands fa-twitter"></i>*/
    }
    .footer {
        <br>
        display: block;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media screen and (min-width:500px)  {*{
    box-sizing: border-box;
    margin: .5em;

}

    body{
        margin: 0;
        padding: 0;
    }

    .nav-links{
        padding: 0;
        list-style: none;
        display: flex;
        align-content: space-between;
        justify-content: space-evenly;
        align-items: center;
        position: relative;


    }
nav {
display: flex;
flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;

}
.alert-info {
    display: none;
}

    h1{
        display: inline;
        width: 100%;
        font-size: 30px;
        /*position: relative;*/
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        /*flex-direction: column;*/
        /*margin: 10px auto;*/
        padding: .2em 0 0 .2em;
        position: absolute;

    }
    .header-img{
        display: flex;
        /*position: relative;*/
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        margin: 0 .25em ;
        /*display: block;*/
        /*height: 1px;*/
        /*width: 2px;*/
        flex-grow: 3;
        width: 100%;

    }
    .main{
        /*display: flex;*/
        display: inline-block;
        width: 45%;
        margin: auto;
        list-style: none;


    }
    .sub-section{
        /*display: flex;*/
        display: inline-block;
        width: 45%;
        margin: auto ;
        list-style: none;
        font-family: "Times New Roman", Times, serif;
        font-style: italic;



    }
}